/* CSS declarations go here */
body {
    font-family: Arial, Helvetica, sans-serif;
 
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
 
    padding: 0;
    margin: 0;
 
    font-size: 14px;
}

.col-space{
    margin-top: 5px;
}

.input-group-addon.addon-normal{
    background-color: #fff;
}

.input-group-addon.addon-error{
    background-color: #F3E2A9;
}

.input-group-addon.addon-pass{
    background-color: #D0F5A9;
}

.input-group-addon.addon-wait{
    background-color: #CEF6F5;
}

.nav-color{
    background-color:#424242;
}

.container.custom{
    margin-top: 70px;
}

.jumbotron.custom{
    padding:10px;
    margin-left:5px;
    margin-right:5px;
    height: 300px;
    overflow-x: hidden;
    overflow-y: auto;
}

.jumbotron.custom-head{
    padding:10px;
    margin-left:5px;
    margin-right:5px;
    height: 60px;
    overflow-x: hidden;
    overflow-y: auto;
}