<header>
  <h1><b><i class="fa fa-truck" aria-hidden="true"></i> Monitoring System</b></h1><br/>
  <div class="jumbotron custom-head">
    {{$ctrl.sys_time()}}
    <button type="button" class="btn btn-primary" ng-click="$ctrl.reset()"><i class="fa fa-trash" aria-hidden="true"></i> RESET</button>
  </div>
</header>

<div class="row">

    <div class="col-lg-6 col-md-6 col-xs-6">

      <div class="jumbotron custom-head fail">
        <i class="fa fa-close" aria-hidden="true"></i> RFID NUMBER : {{$ctrl.rfids_dup_count}}
      </div>

      <div class="jumbotron custom">

        <div ng-repeat="rfid_dup in $ctrl.rfids_dup">
          
          <div ng-if="$ctrl.rfids_dup_display(rfid_dup.timestamp, rfid_dup.rfid)">

            <div class="input-group col-space">
              <span class="input-group-addon addon-error"><i class="fa fa-times-circle" aria-hidden="true"></i></span>
              <span class="input-group-addon addon-normal">{{rfid_dup.rfid}}</span>
              <span class="input-group-addon addon-error">TIME:</span>
              <span class="input-group-addon addon-normal">{{rfid_dup.timestamp | date:'yyyy-MM-dd HH:mm:ss'}}</span>
            </div>

          </div>
    
        </div>

      </div>
    </div>

    <div class="col-lg-6 col-md-6 col-xs-6">

      <div class="jumbotron custom-head pass">
        <i class="fa fa-check" aria-hidden="true"></i> RFID NUMBER : {{$ctrl.rfids_count}}
      </div>

      <div class="jumbotron custom">

       <div ng-repeat="rfid in $ctrl.rfids">
          
          {{$ctrl.diff_time(rfid.timestamp, rfid.rfid)}}
          <div class="input-group col-space">
            <span class="input-group-addon {{$ctrl.set_color(rfid.rfid)}}"><i class="fa fa-check-circle" aria-hidden="true"></i></span>
            <span class="input-group-addon addon-normal">{{rfid.rfid}}</span>
            <span class="input-group-addon {{$ctrl.set_color(rfid.rfid)}}">TIME:</span>
            <span class="input-group-addon addon-normal">{{rfid.timestamp | date:'yyyy-MM-dd HH:mm:ss'}}</span>
          </div>

        </div>
      </div>

    </div>

</div>
